
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/flare.jpg");
    max-width: 500px;
    margin: auto;
}

img.animated-gif {
    border-radius: 50%;
    width: 120px;
    height: auto;
    float: right;
}